/* styles.css */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Montserrat", serif;
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1618367588411-d9a90fefa881?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fGdyYWRpZW50fGVufDB8MHwwfHx8MA%3D%3D");
    background-size: cover;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 5rem;
}

li > button {
    font-size: 1.8rem;
    padding: 0.8rem;
    border-radius: 1.2rem;
    border: solid 2px #163361;
    color: #16423c;
    background-color: #FE786D;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #163361;
}

.home-images {
    display: flex;
    gap: 1rem;
}

.home-images img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: solid 0.5rem #FE786D;
}

.home-container > p {
    font-size: 1.4rem;
    width: 75%;
    padding: 1rem;
    background-color: #ECD68B;
    border-radius: 1.5rem;
    border: solid 0.5rem #FE786D;
}
