/* styles.css */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Montserrat", serif;
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1618367588411-d9a90fefa881?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fGdyYWRpZW50fGVufDB8MHwwfHx8MA%3D%3D");
    background-size: cover;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 5rem;
}

li > button {
    font-size: 1.8rem;
    border: none;
    background: none;
}

li > button:hover {
    text-decoration: underline;
}

.home-images img,
.home-container > p,
.dish {
    border: solid 0.5rem #FE786D;
} 

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

li > button,
.home-container,
.dish,
.menu-wrapper h1{
    color: #163361;
}

.home-images {
    display: flex;
    gap: 1rem;
}

.home-images img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.home-container > p {
    font-size: 1.4rem;
    width: 75%;
    padding: 1rem;
    background-color: #ECD68B;
    border-radius: 1.5rem;
}

/* .menu-wrapper{
    padding: 2rem;
} */

.menu-wrapper h1 {
    text-align: center;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.dish {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: start;
    background: #ECD68B;
    padding: 1rem;
    border-radius: 0.5rem;
}

.dish img {
    width: 5.5rem;
    height: 5.5rem;
    object-fit: cover;
    border-radius: 50%;
    border: solid 0.2rem #FE786D;
}

.dish-info p {
    margin: 0.5rem 0 0 0;
}

.price {
    font-weight: bold;
    font-size: 1.1rem;
}
