/* styles.css */
* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 5rem;
}

li > button {
  font-size: 3rem;
  padding: 0.8rem;
  border-radius: 1.2rem;
}